// Style Variables
$black: #0f0f0f;
$white: #fcfcfc;
$blue: #002b7f;
$yellow: #fcd117;
$red: #ce1126;

// Fonts

// Css Reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Actual Code

html {
  background-color: $black;
  color: $white;
  max-width: 100wh;
  overflow: hidden;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Plain;
  font-size: 1.25em;
  margin-top: 1em;
}
.logo {
  display: flex;
  align-items: center;
}
.name {
  padding-right: 0.5em;
}

.semi {
  height: 70px;
  transform: translate(5%, 5%);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation_list {
  display: flex;
  justify-content: space-between;
}

.navigation_link + .navigation_link {
  margin-left: 3em;
}

.navigation_list-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
}

.work:hover {
  text-decoration-color: $blue;
}

.about:hover {
  text-decoration-color: $yellow;
}

.contact:hover {
  text-decoration-color: $red;
}

.hero {
  font-family: Roobert TRIAL;
  display: flex;
  align-items: center;
}

.main-title {
  font-size: 4.5em;
  line-height: 1.15em;
  position: relative;
  z-index: 1;
}

.red-square {
  transform: translate(-20%, 120%);
  height: 70px;
  z-index: -1;
}

.blue-triangle {
  transform: translate(405%, -90%);
  padding: 0;
  margin: 0;
}

.hero_body {
  width: 40ch;
  font-size: 1.25em;
  transform: translate(0, -90%);
}
.hero_body > span {
  text-decoration: underline;
}

.hero_body > span:hover {
  cursor: pointer;
}
.hero_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero_right {
  display: flex;
  flex-direction: column;
}

.hero_header {
  transform: translate(0, -10%);
}

.abstract-shapes {
  height: 100%;
  align-self: flex-end;
  transform: translate(20%);
  z-index: 2;
}

.yellow-rect {
  transform: translate(60%, -500%);
  z-index: 1;
}
